# --- Node (Frontend) ---
frontend/node_modules/
frontend/dist/
frontend/.env*
frontend/npm-debug.log*
.env

# --- Python (Backend) ---
backend/venv/
backend/.venv/
backend/__pycache__/
backend/.env*
backend/*.pyc
backend/.pytest_cache/

# --- Firmware ---
firmware/.pio/
firmware/.vscode/
firmware/build/
firmware/*.bin
firmware/*.elf

# --- Base de Datos Local (si usaras SQLite) ---
backend/*.sqlite3
backend/*.db

# --- IDEs y Sistema ---
.vscode/
.idea/
.DS_Store
Thumbs.db